.transaction {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #faedcd;
    margin-bottom: 80px;
}

.title {
    width: 300px;
    background-color: #d4a373;
}

tr {
    height: 30px;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #faedcd;
}

.th {
    text-align: center;
}